@tailwind base;
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-helvetica-bold;
  }

  html,
  body {
    @apply font-helvetica;
  }

  html {
    @apply scroll-smooth;
  }
}
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BMW Helvetica';
  src: url('/fonts/BMWHelvetica-Light.eot');
  src: url('/fonts/BMWHelvetica-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/BMWHelvetica-Light.woff2') format('woff2'),
    url('/fonts/BMWHelvetica-Light.woff') format('woff'),
    url('/fonts/BMWHelvetica-Light.svg#BMWHelvetica-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'BMW Helvetica Bold';
  src: url('/fonts/BMWHelveticaBold.eot');
  src: url('/fonts/BMWHelveticaBold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/BMWHelveticaBold.woff2') format('woff2'),
    url('/fonts/BMWHelveticaBold.woff') format('woff'),
    url('/fonts/BMWHelveticaBold.svg#BMWHelveticaBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}
